.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .App__playing {
    margin: 10px 0;
  }

  .App__winner {
    margin: 20px 0;
  }

  .App__play {
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;

    &:hover {
      box-shadow: none;
    }
  }
}
